{% extends "first_app/layout.html" %}

{% block body %}
<br>
<p>This project was created by Lauren Hall '27, advised by Professor Olsen, in response to a lack of online study tools corresponding to Williams College's Introductory Greek classes (CLGR 101/102). Memorizing conjugations and declensions consitutues much of the early Ancient Greek learning stages, so this application focuses mainly on repetitive identification of these grammatical forms. Its content is tailored to the vocabulary, grammar, and units of CLGR 101/102's primary textbook: <i>Greek: An Intensive Course</i> by Hardy Hansen and Gerald M. Quinn.</p>

<p>You can run the application locally and access its code on <a href="https://github.com/lkhall/greek_project">Github</a>.</p>

<p>Please contact Lauren Hall (<a href="mailto:lkh3@williams.edu">lkh3@williams.edu</a>), Sarah Olsen (<a href="mailto:seo1@williams.edu">seo1@williams.edu</a>), or the current professor of CLGR 101/102 if you see any errors.</p>
{% endblock %}