{% extends "first_app/layout.html" %}

{% block body %}
<br>
<p>This project was created by Lauren Hall (Williams College '27), advised by Professor Olsen, through the Class of 1957 Summer Research Program for Divisions I & II. It was created in response to a lack of online study tools corresponding to CLGR 101/102, which uses the textbook "Greek: An Intensive Course" by Hardy Hansen and Gerald M. Quinn. Memorizing verb conjugation and noun and adjective declension consitutues much of the early learning stages of Ancient Greek, so this application focuses mainly on repetition and exposure to those forms.</p>

<p>You can run the application locally and access <a href="https://github.com/lkhall/greek_project">its code</a> on Github.</p>

<p>Please contact Lauren Hall (<a href="mailto:lkh3@williams.edu">lkh3@williams.edu</a>), Sarah Olsen (<a href="mailto:seo1@williams.edu">seo1@williams.edu</a>), or the current professor of CLGR 101/102 if you have any suggestions, or if you see any errors.</p>
{% endblock %}