{% extends "first_app/layout.html" %}

{% block body %}
{%load crispy_forms_tags %}
		{{ number|json_script:"mynumbers" }}
		{{ gender|json_script:"mygenders" }}
		{{ case|json_script:"mycases" }}
		<script>

			// returns whether the arrays are equal in 0th element, and what elements are in arr2 that are not in arr1 in 1st element
			function arraysEqual(arr1, arr2) {
				//alert(`hello`);
				var dataa = JSON.parse(document.getElementById(arr1).textContent);
				let arrinarr1 = arrinarr(dataa, arr2);
				let arrinarr2 = arrinarr(arr2, dataa);
				let is_in_array1 = arrinarr1[0];
				let is_in_array2 = arrinarr2[0];
				//alert(`hello2`);
				let arrayseq = is_in_array1 && is_in_array2;
				//alert(`hello2`);
				return [arrayseq,arrinarr1[1]];
			}
			// returns whether all the elements in arr2 are in arr1 in 0th element, and what elements are in arr2 that are not in arr1 in 1st element
			function arrinarr(arr1, arr2) {
				//alert(`hello3`);
				let is_in_array = true;
				let arr2_wrong = [];
				//alert(`hello6`);
				for (let i = 0; i < arr2.length; i++) {
					//alert(`hello7`);
					let in_array = false;
						for (let j = 0; j < arr1.length; j++) {
							if (arr1[j] === arr2[i]) {
								in_array = true;
							}
						}
						if (in_array === true) {
							is_in_array = is_in_array && true;
						}
						else {
							//alert(`arr2wrong: ${arr2[i]}`);
							arr2_wrong.push(arr2[i]);
							is_in_array = false;
						}
				}
				//alert(`hello5`);
				return [is_in_array,arr2_wrong];
			}

			function changeLabelColors(arr_wrong, cross_info) {
				for (let i = 0; i < arr_wrong.length; i++) {
					for (let j = 0; j < cross_info.length; j++) {
						if (arr_wrong[i] === cross_info[j][0]){
							//alert(`changing color`);
							document.querySelector(`label[for=${cross_info[j][1]}]`).style.color = "red";
						}
					}
				}
			}

			function changeorangelabel(case_wrong, case_correct, div_id_label) {
				let using_orange_label = false;
				console.log(`case wrong: ${case_wrong}`);
						//alert(`Incorrect, try again`);
						if (!case_correct) {
							using_orange_label = true;
							let case_div = document.getElementById(div_id_label);
							const labelElement = case_div.querySelector('label');
							labelElement.style.color = "orange";
							const checkingifexists = document.getElementById('myNewDiv');
							if (!checkingifexists){
								const newDiv = document.createElement("div");
								newDiv.textContent = "Missing one of more forms.";
	    					newDiv.setAttribute("id", "myNewDiv");
	    					newDiv.style.color = "orange";
	    					const parentElement = document.getElementById("div_id_noun_number"); // Get the parent element
	        			parentElement.appendChild(newDiv);
							}
						}
						else {
							using_orange_label = false;
							let case_div = document.getElementById(div_id_label);
							const labelElement = case_div.querySelector('label');
							labelElement.style.color = "black";
						}
					return using_orange_label;
			}

			function checkSelection() {
				const checkbox = document.getElementById('option1');
				const checkbox2 = document.getElementById('option2');
    			if (checkbox.parentElement.classList.contains("active")) {
      				console.log('Checkbox is checked!');
      				document.getElementById('my_django_form_nouns').style.display = 'none';
      				document.getElementById('my_django_form_2').style.display = 'block';
      				checkbox2.parentElement.classList.remove("active");
	    				checkbox.parentElement.classList.add("active");
	    				checkbox2.checked = false;
	    				checkbox.checked = true;
     			 	// Perform desired actions here
    			} else {
    				//$("#option1").button('toggle');
    				//$("#option2").button('toggle');
    				checkbox2.checked = false;
    				checkbox.checked = true;
    				checkbox2.parentElement.classList.remove("active");
    				checkbox.parentElement.classList.add("active");
      				console.log('Checkbox is unchecked!');
      				document.getElementById('my_django_form_nouns').style.display = 'none';
      				document.getElementById('my_django_form_2').style.display = 'block';
      				// Perform actions for unchecked state if needed
				}
    			}
    		function checkSelection2() {
				const checkbox = document.getElementById('option1');
				const checkbox2 = document.getElementById('option2');
    			if (checkbox2.parentElement.classList.contains("active")) {
      				console.log('Checkbox is checked!');
      				document.getElementById('my_django_form_nouns').style.display = 'block';
      				document.getElementById('my_django_form_2').style.display = 'none';
      				checkbox2.checked = true;
	    				checkbox.checked = false;
	    				checkbox.parentElement.classList.remove("active");
	    				checkbox2.parentElement.classList.add("active");
     			 	// Perform desired actions here
    			} else {
    				//$("#option1").button('toggle');
    				//$("#option2").button('toggle');
    				checkbox2.checked = true;
    				checkbox.checked = false;
    				checkbox.parentElement.classList.remove("active");
    				checkbox2.parentElement.classList.add("active");
      				console.log('Checkbox is unchecked!');
      				document.getElementById('my_django_form_nouns').style.display = 'block';
      				document.getElementById('my_django_form_2').style.display = 'none';
      				// Perform actions for unchecked state if needed
				}
    			}

			document.addEventListener('DOMContentLoaded', function() {
					{% if noun_on_unit %}
						checkSelection();
					{% else %}
						checkSelection2();
					{% endif %}

					{% for unitt in units_available %}
						document.querySelector('[value="{{ unitt }}"]').selected = true;
					{% endfor %}
					{% for nounn in nouns_available %}
						document.querySelector('[value="{{ nounn }}"]').selected = true;
					{% endfor %}

				document.querySelector('#my_django_form').onsubmit = function() {
					//alert(`at the start`);
					//console.log("hello");
					const myform = document.getElementById("my_django_form");
					//alert(`after the start`);
					let gender_array = [];
					//alert(`after the start: ${myform.elements.id_noun_gender.options[0].selected}`);
					if (myform.elements.id_noun_gender_0.checked === true){
						//alert(`weeooo`);
						gender_array.push("masc");
					}
					if (myform.elements.id_noun_gender_1.checked === true) {
						gender_array.push("fem");
					}
					if (myform.elements.id_noun_gender_2.checked === true) {
						gender_array.push("neut");
					}
					//alert(`after gender`);
					//console.log(myform.elements.id_noun_gender_0.checked);
					//alert(`Gender: ${gender_array[0]}`);
					let number_array = [];
					if (myform.elements.id_noun_number_0.checked === true) {
						number_array.push("singular");
					}
					if (myform.elements.id_noun_number_1.checked === true) {
						number_array.push("plural");
					}
					//alert(`after number`);
					let case_array = [];
					if (myform.elements.id_noun_case_0.checked === true) {
						case_array.push("nom");
					}
					if (myform.elements.id_noun_case_1.checked === true) {
						case_array.push("gen");
					}
					if (myform.elements.id_noun_case_2.checked === true) {
						case_array.push("dat");
					}
					if (myform.elements.id_noun_case_3.checked=== true) {
						case_array.push("acc");
					}
					if (myform.elements.id_noun_case_4.checked === true) {
						case_array.push("voc");
					}

					let number_correct_arr = arraysEqual("mynumbers", number_array);
					let case_correct_arr = arraysEqual("mycases", case_array);
					let gender_correct_arr = arraysEqual("mygenders", gender_array);
					//alert(`hello4`);

					let number_correct = number_correct_arr[0];
					let case_correct = case_correct_arr[0];
					let gender_correct = gender_correct_arr[0];
					
					let number_wrong = number_correct_arr[1];
					let gender_wrong = gender_correct_arr[1];
					let case_wrong = case_correct_arr[1];
					let number_cross_info = [["singular","id_noun_number_0"],["plural","id_noun_number_1"]];
					let gender_cross_info = [["masc","id_noun_gender_0"],["fem","id_noun_gender_1"],["neut","id_noun_gender_2"]];
					let case_cross_info = [["nom","id_noun_case_0"],["gen","id_noun_case_1"],["dat","id_noun_case_2"],["acc","id_noun_case_3"],["voc","id_noun_case_4"]];
					//alert(`number: ${number_correct}, case: ${case_correct}, gender: ${gender_correct}`);

					if (gender_correct && number_correct && case_correct) {
						//console.log("HI");
						//alert(`Correct!`);
					}
					else {
						let case_orange = changeorangelabel(case_wrong, case_correct, 'div_id_noun_case');
						let gender_orange = changeorangelabel(gender_wrong, gender_correct, 'div_id_noun_gender');
						let number_orange = changeorangelabel(number_wrong, number_correct, 'div_id_noun_number');

						if (!case_orange && !gender_orange && !number_orange) {
							const elementToRemove = document.getElementById('myNewDiv');
							if (elementToRemove) {
 							 elementToRemove.remove();
							}
						}
						changeLabelColors(number_wrong,number_cross_info);
						changeLabelColors(gender_wrong,gender_cross_info);
						changeLabelColors(case_wrong,case_cross_info);
						return false;
					}
				};
			});
		
		</script>
		<h2>Nouns</h2>
		Select by:
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" onclick="checkSelection()"> Unit
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off" onclick="checkSelection2()"> Noun
  </label>
</div>
		<form id="my_django_form_nouns" style="display:none" action="{% url 'first_app:nouns' %}" method="post">
			{% csrf_token %}
			{{ noun_form|crispy }}
			<button type="submit" name="submit_form" value="submitting_nouns">Submit</button>
			<!--
			<input type="submit" name="submit_form", value="submitting_nouns">-->
		</form>

		<form id="my_django_form_2" action="{% url 'first_app:nouns' %}" method="post">
			{% csrf_token %}
			{{ unit_form|crispy }}
			<button type="submit" name="submit_form" value="submitting_units">Submit</button>
			<!--
			<input type="submit" name="submit_form", value="submitting_units">-->
		</form>
		<br>
		<h1 style="font-family: 'Arial Unicode MS', sans-serif;">Noun form: {{ verb_form }}</h1>
		<form id="my_django_form">
			{{ form|crispy }}
			<input type="submit">
		</form>
{% endblock %}